/* CUSTOM */

.margin0 {
    margin: 0px !important;
}

.pointerEventsNone {
    pointer-events: none;
}

.userSelectNone {
    user-select: none;
}

/* NAVBAR */

.Navbar_logo {
    width: 4.5em;
    margin: 10px auto 10px 2em;
    cursor: pointer;
    user-select: none;
}

.Navbar_login_logo {
    width: 13vh;
    margin: 1vh 0 7vh 0;
}

.Navbar_register_logo {
    width: 14vh;
    height: 14vh;
    padding: 15vh 7vh 20vh 3vh;
    margin-right: 6vh;
    border-right: #c0bfbf 1px solid;
}

.signUpLink {
    color: #c44758;
    margin: 0 0 0 1vh;
    cursor: pointer;
}

.signsText {
    display: flex;
    font-size: 13px;
    font-weight: 600;
    color: #3f3f3f;
}

.ProfileMenu>.MuiPaper-root {
    background-color: #222222;
}

.NavbarUser {
    padding: 0 0 0 10px;
}

.profileFont {
    font-size: 13px;
}

/* FOOTER */

.linkFooter {
    text-decoration: none;
    color: #888888;
}

/* Heading */

.headingDividerText {
    font-size: 20px;
    font-weight: 600;
}

/* PROFILE */

.ProfilePageAvatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.notSelectedTabStyle {
    color: #ffffff;
}

.ProfileInfo {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 0 7.7em 10px auto;
}

.ProfileInfo span {
    color: #ffffff;
    font-size: 3em;
    font-weight: 400;
}

.ProfileInfo div {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 0 1em;
    letter-spacing: 6px;
}

.ViewProfile {
    margin-right: 3em;
}

.ViewHeading {
    font-size: 10px;
    margin: 0 0 10px 0;
    font-weight: 600;
    letter-spacing: 2px;
}

.ViewValue {
    font-size: 18px;
    margin: 0 0 20px 0;
}

.deleteValue {
    font-size: 14px;
    margin: 1em 0 2em 0;
}

.deleteHeading {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    font-variant: small-caps;
}

.deleteCheck {
    font-size: 12px;
    margin: 0 0 1em 0;
    align-items: center;
}

.deleteError {
    font-size: 12px;
    margin: 0 0 4px 0;
    color: #ff1e25;
    letter-spacing: 2px;
}

.ImageBlock {
    padding: 20px 0;
    height: 25em;
}