.descriptionHome {
    margin: 0 5% 10px 5%;
    color: #bbbbbb;
    text-align: right;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    padding: 2px 0;
}

.descriptionHome:hover {
    text-decoration: underline;
}

.templateHomeBg {
    cursor: pointer;
    padding: 24px 10px 0;
    margin-top: 24px;
}

.templateHomeBg:hover {
    background-color: #383838;
    margin-top: 14px !important;
    padding-top: 10px !important;
    border-radius: 10px !important;
}

.liveUser {
    font-size: 12px;
    color: #aaaaaa;
    font-weight: 600;
    letter-spacing: 1.3px;
}

.liveAnimation {
    animation: liveBlink 5s ease 1s infinite normal forwards
}

@keyframes liveBlink {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

.video-container {
    width: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.video-player {
    max-width: 100%;
    background-color: black;
}


.PlayTitle {
    margin-top: 10vh;
    text-transform: capitalize;
}

.PlayDesc {
    color: #dbdbdb;
    font-size: 12px;
    letter-spacing: 1px;
}

.LiveTitle {
    margin-bottom: 20px;
    text-transform: capitalize;
    font-size: 20px;
}

.LiveUser {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
}

.liveTVIcon {
    animation: heartbeat 6s ease-in-out infinite both;
}

@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.93);
        transform: scale(0.93);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}